$blue: #2E97D2;
$red: #E54B40;
$gold: #F9DA36;
$light: #EBF2F4;
$dark: #494956;
$shadow: #666677;

//second iteration

$primary: #6A1B9A;
$darkerPrimary: #4a148c;
$lightPrimary: #7b1fa2;
$accent: #fdd835;
$white: #f2fff7;
$shadow: #666677;
$black: #121212;

$back: #ebf2f4;
$above: #f2fff7;
$below: #B0BEC5;
