.feed-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin-top: 8vh;

  .feed {
    max-width: 50%;
    flex-grow: 1;
    margin: 0;
    img {
      width: 100%;
    }
  }
}

.grid {
  .feed {
    max-width: 25%;
  }
}

@media (min-width: 1025px) {
  .feed-container {
    align-items: center;
    margin-top: 10vh;

    .feed {
      margin: 0 auto;
      width: 350px;
      display: flex;
      display: -webkit-flex;
      justify-content: center;

      img {
        width: 350px;
      }
    }
  }
}
