.feed-container {
  // margin-top: 8vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;

  .feed {
    max-width: 50%;
    flex-grow: 1;
    margin: 1%;
    padding: 1%;
    background: $back;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 0 auto;
      width: 44vw;
      max-width: 100%;
    }
  }
}

.grid {
  .feed {
    max-width: 25%;
    flex-grow: 1;
    margin: 0;
    padding: 0;

    img {
      width: 25vw;
    }
  }
}

@media (min-width: 1025px) {
  .feed-container {
    align-items: center;
    margin-top: 10vh;

    .feed {
      margin: 0 auto;
      width: 350px;
      display: flex;
      justify-content: center;

      img {
        width: 350px;
      }
    }
  }
}
