.message-box{
  background-color: $back;
  width: 80%;
  border-radius: 3px;
  margin: 2vh auto;
  padding: 2vh;
  font-size: 1.2em;

}
.settings-bar-location {
  margin: 2vh auto;
  width: 80%;

  .searchbar {
    margin-top: 2vh;
    font-size: 1.5em;
    background: $light;
    width: 100%;
    &::-webkit-search-cancel-button{
    color: $primary;
}
  }
}

.filter-page {
  // margin-top: 8vh;

  .drawer-underlay {
    width: 100vw;
    height: 82vh;
    position: fixed;
    top: 8vh;
    left: 0;
    background-color: transparentize($shadow, .5);
  }

  .drawer-menu{
    // width: 50vw;
    display: flex;
    font-size: 1.3em;
    color: $dark;
    position: fixed;
    top: 8vh;
    left: 0;
    z-index: 3;
    background: $light;
    padding-bottom: 5vh;

      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        li {
          margin-top: 2vh;
          padding: 3vw 3vh;
          width: 80%;
          background-color: lighten($light, 2%);
        }
      }
    }
}

@media (min-width: 1025px) {
  .filter-page {

    .drawer-underlay {
      position: static;
      width: inherit;
      height: inherit;
    }

    .drawer-menu {
      top: 5vh;
      width: 100%;
      font-size: 1.2em;
      padding-bottom: 0;

      ul {
        display: flex;
        flex-direction: row;

        li {
          max-width: 33%;
          margin-top: 0;
          text-align: center;
          padding: 1vh;
          &:hover {
            background-color: $primary;
            color: $light;
            cursor: pointer;
          }
        }
      }
    }

  .settings-bar-location input {
      position: fixed;
      top: 10vh;
      left: 35%;
      font-size: 2em;
      text-align: center;
      width: 30vw;
      padding: 2vh;
      margin: 0 auto;
    }

    .settings-bar {
      top: 0;
      left: 0;
      z-index: 10;
      width: 10%;
      box-shadow: none;
      height: 5vh;

      .settings-btn {
        min-height: 5vh;
        vertical-align: middle;
        &hover {
          cursor: pointer;
        }
      }
    }
  }
}
