//reset css and import google fonts
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Alegreya:400,700");

// set up colors and fonts
@import './colors.scss';
@import './fonts.scss';
@import './nav.scss';
@import './login.scss';
@import './feed.scss';
@import './upload.scss';
@import "./singlepage.scss";
@import './settings-bar.scss';
@import './location.scss';
@import './animations.scss';
@import './buttons.scss';
@import './filter.scss';
@import './profile.scss';


span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: $sans;
}

.page {
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

input {
  padding: 5px;
}

.feed-container, .filter-page, .single-view, {
  margin-top: 8vh;
  -webkit-overflow-scrolling: touch;
}

.cloudinary_fileupload {
  background-color: $above;
}

.required {
  border: 2px solid tomato;
}

// :( refactor
// .filter-page .feed-container {
//   margin-top: -8vh;
// }

body {
  font-size: 100%;
  background-color: $below;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  font-family: $sans;
}

.categories-container {
  width: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img {
      width: 45vw;
      object-fit: contain;
    }
  }
}



@media (min-width: 1025px) {
  .page{
    height: 100vh;
    background:linear-gradient(to right, rgba(123,31,162,0.16) 0%, rgba(106,27,154,0.18) 18%, rgba(74,20,140,0.21) 50%, rgba(105,27,154,0.24) 77%, rgba(123,31,162,0.27) 100%), url('~/images/background.jpg') no-repeat center center;
        // background: url('~/images/background.jpg') no-repeat center center;
    background-size: cover;
  }

  .above-message {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feed-container, .filter-page, .single-view, .profile-container, .login, .searching {
    background: transparentize($light, .6);
    max-width: 900px;
    min-height: 100vh;
    margin: 8vh auto 0;
    box-shadow: none;
  }

  .categories-container {
    .feed {
      max-width: 65%;
      display: flex;

      img {
        width: 20vw;
        object-fit: contain;
      }
    }
  }

  .active {
    background-color: lighten($blue, 10%);
    font-size: 2em;
    border-radius: 5px;
  }
}
