//reset css and import google fonts
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Alegreya:400,700");

// set up colors and fonts
@import './colors.scss';
@import './fonts.scss';
@import './nav.scss';
@import './login.scss';
@import './feed.scss';
@import './upload.scss';
@import "./singlepage.scss";
@import './settings-bar.scss';
@import './location.scss';
@import './animations.scss';
@import './buttons.scss';
@import './filter.scss';
@import './profile.scss';

*{
  outline: none;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: $sans;
}

.page {
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.feed-container, .filter-page, .single-view {
  margin-top: 8vh;
  -webkit-overflow-scrolling: touch;
}

// :( refactor
// .filter-page .feed-container {
//   margin-top: -8vh;
// }

body {
  font-size: 100%;
  background-color: $below;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  font-family: $sans;
}

@media (min-width: 1025px) {
  .page{
    height: 100vh;
    background:linear-gradient(to right, rgba(123,31,162,0.56) 0%, rgba(106,27,154,0.58) 18%, rgba(74,20,140,0.61) 50%, rgba(105,27,154,0.64) 77%, rgba(123,31,162,0.67) 100%), url('~/images/background.jpg') no-repeat center center;
    background-size: cover;
  }

  .feed-container, .filter-page, .single-view, .profile-container, .login {
    margin-top: 8vh;
    background: transparentize($light, .6);
    max-width: 900px;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: none;
  }

  .active {
    background-color: lighten($blue, 10%);
    font-size: 2em;
    border-radius: 5px;
  }
}
