.login {
  display: flex;
  flex-direction: column;
  width: 100%;

  .btn {
    margin-top: 1vh;
    padding: 8px 15px;
  }

  .link-logo {
    max-width: 10vw;

    img{
      width: 100%;
    }
  }


  .logo {
    width: 50vw;
    // height: 30vh;
    align-self: center;

    h1 {
      font-family: $sans;
      font-size: 2.5em;
      color: $dark;
      font-style: italic;
      font-weight: 700;
      background-color: $gold;
      display: inline-block;
    }

    img {
      width: 100%;
    }
  }

  label, button, input {
    font-family: $sans;
    font-size: 1.2em;
  }

  input {
    margin-top: 5px;
    border: none;
    border-radius: 5px;
  }

  form {
    margin: 3vh 8vh;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 1em;
  }

  .auth, .sign-ins {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10vh;

    .link-logo {
      max-width: 10vw;
    }
  }
}

@media (min-width: 1025px) {
  .login {
    .logo {
      margin-top: 10vh;
      display: flex;
      justify-content: center;
      img {
        width: 50%;
      }
      h1 {
        width: 40%;
        margin-top: 1%;
        background-color: transparent;
        font-weight: normal;
        font-size: 60pt;
        text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
      }
    }

    form {
      width: 30%;
      margin: 4% auto;
    }

    .link-logo {
      width: 50px;
    }
  }
}
