//TODO switch the classnames from camelcase to kebab style

.profileContainer{

  .title {
    background: $primary;
    color: $light;
    margin: 2vh;
    text-align: center;
    font-size: 1.7em;
    padding: 2vh;
    border-radius: 2px;
  }

  h1 {
    background: $primary;
    color: $light;
    font-size: 1.3em;
    padding: 1vh;
    text-align: center;
  }

  span {
    font-size: 1.3em;
    background: $primary;
    color: $light;
    text-align: center;
  }
}

.fleekImage {
  width: 100%;
}

.row {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  background: $back;
  flex-wrap: wrap;
}

.fleekedPhoto {
  background: $back;
  height: auto;
  width: 50%;

  .heart-container {
    width: 5vw;
    img {
      width: 100%;
      max-width: 10vw;
    }
  }
}

.profileContainer {
  margin-left: 1em;
  margin-right: 1em;

}

.profileStats {
  background: $back;
  text-align: center;
  width: 45%;
  margin: 2vw;
  margin-left: auto;
  border-radius: 2px;
}

.profileGrid {
  max-width: 25%;
  img {
    width: 100%;
  }
}

.profileFlame {
  width: 2em;
  height: 2em;
}

.votedContainer {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  img {
    width: 100%;
  }
}
.votedImage {
  width: 50%;
}
.votedStats {
  width: 50%;
  text-align: center;
}
