.settings-bar {

  background-color: $darkerPrimary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100vw;
  position: fixed;
  top: 0;
  box-shadow: 0 0 16px 0 $shadow;

  .settings-btn {
    color: $light;
    background-color: $darkerPrimary;
    min-height: 5vh;
    margin: 3px;
    text-align: center;
    width: 8%;
    margin-left: auto;
    margin-right: 1%;

  }

  ::-webkit-input-placeholder {
   color: darken($light, 20);
}

  .searchbar {
    max-width: 50%;
    background: transparent;
    color: #fff;
    border :none;
    border-bottom: $light 1px solid;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    line-height: 1.5em;
    text-indent: 5%;
    box-shadow: -1px -3px 42px -15px $light;
  }

  .menu-toggle {
    width: 30px;
    height: 30px;
    background-color: $darkerPrimary;
    margin-right: auto;
    margin-left: 5vw;

    img {
      background-color: $darkerPrimary;
    }
  }
}

@media (min-width: 1025px) {
  .settings-bar {
    top: auto;
    bottom: 0;

    .settings-btn {
      min-height: 5vh;
      line-height: 5vh;
      vertical-align: middle;
    }

    .searchbar {
      background-color: transparent;
      color: white;
    }

    .menu-toggle {
    height: 40%;
    width: 40px;
    background:linear-gradient(to bottom, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
    }

    .menu-toggle:hover {
      background:linear-gradient(to bottom, $gold 0%, $gold 20%, transparent 20%, transparent 40%, $gold 40%, $gold 60%, transparent 60%, transparent 80%, $gold 80%, $gold 100%);

    }
  }
}
