.empty-vote {
    margin-top: 5vh;
    background: $above;
    color: $dark;
    font-size: 1.25em;
    line-height: 1.5em;

    a {
      background-color: $primary;
      color: $white;
      padding: 2px;
      cursor: pointer;
    }
}



.flames {
  background: url('/images/flames.svg')top center no-repeat, radial-gradient(circle, $red, $gold) no-repeat;
}

.icy {
  background: radial-gradient(circle, $blue, $light) no-repeat;
}

.single-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white;

  .user-bar {
    margin-top: 1vh;
    width: 85%;
    margin-bottom: -5vh;
    z-index: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      background-color: $primary;
      border-bottom: 2px solid $darkerPrimary;
      box-shadow: 0 10px 6px -6px $shadow;
      padding: 1vh;
      border-radius: 3px;

    }

    h2 {
      display: inline-block;
      font-weight: 400;
      font-size: 1.3em;
      font-family: $sans;
    }

    div {
      display: inline-block;
    }

    .profile-pic {
      width: 10vw;
      margin-right: 10%;

      img {
        width: 100%;
      }
    }
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .single-photo-wrapper {
    max-width: 80%;
    padding: 5vw 5vw 10vw;
    background-color: lighten($light, 2%);

    box-shadow: 0px 7px 9px -5px $dark, 0px -4px 20px -5px $dark;

    img {
      width: 100%;
      border-radius: 3px;
      background: #FFF;
      transform-origin: 50% 99%;
    }

}
  .single-controls {
    margin-top: 2vh;
    display: flex;
    width: 80%;
    justify-content: space-between;

    .btn {
      margin: 5px 0;
    }

    .pass {
      order: -1;
    }

    .fleek {
      order: 2;
    }
  }
}

.arrow {
  width: 10vw;

  img {
    width: 12vw;
  }
}

.left-arrow {
  transform: scaleX(-1);
}



@media (min-width: 1025px) {
  .empty-vote {
    max-width: 500px;
    font-size: 1.5em;
    margin: 20% auto;
    padding: 10vh;
  }

  .single-view {
    .single-photo-wrapper {
      background-color: $light;
      box-shadow: none;
      margin: 0 auto;
      height: 75vh;
      width: 500px;
      min-height: 90%;

      img {
        width: 100%;
        margin: 1% auto;
      }
    }
  }
}

@media (min-width: 1500px) {
  .single-view {
    .single-photo-wrapper {
      width: 550px;
    }
  }
}
